---
const { title } = Astro.props;
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<link
		href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css"
		rel="stylesheet"
		crossorigin="anonymous"
	/>
	<script
		src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js"
		crossorigin="anonymous"
		defer
	></script>
	<script
		type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
	></script>
	<title>{`Hidrogrup | ${title ? title : ''}`}</title>
</head>
